ul{
    background-color: rgb(114, 174, 223);
        list-style: none;
}
h1{
    background-color: rgb(114, 174, 223); color: rgba(238, 237, 237, 0.835);
    padding-left: 50px;
}
*{  
    background-color: rgba(114, 174, 223, 0.664) ;  
} 
.text-main{
font-size: 30px;
}

.productos {
    display: grid;
    grid-template-columns: auto;
    grid-row: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(0, 0, 0, 0.975);   
    padding-left: 50px
}
.ayuda{
    display: flex;
    justify-content: end;
}

.contenedor-menu{
    justify-content: center;
    display: flex;
    justify-content: space-around;

}
.menu {
    list-style: none;
    display: flex;
    padding: 2rem 
}
.bienvenido{
    display: flex;
    justify-items: center;
    font-family: serif;

}
.fotos-index{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    flex-wrap: wrap;
}
.libros{
     height: 200px;
    width: 200px;
}
.footer{
    margin-bottom: auto;
}
.gracias{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}
.gracias-foto{
    height: 30px;
    width: 30px;
   margin-right: 2rem;
}

.titulo-productos{
    padding-left: 50px;
    font-size: 30px;
    background-image: linear-gradient(to left, rgb(105, 166, 192), rgb(148, 214, 243) );
}

    